VERSION=docker # docker, latest, public or <specific-version>. Check the following link for more information: https://hub.docker.com/r/linuxserver/plex
PLEX_CLAIM=claim-eSzxLSAjxJHCkZB2JWzp # Required for the first startup. Can be found here: https://plex.tv/claim